<h1>Compare the hotels</h1>

{{#if hotels}}

{{#each hotels}}
<div class="split">
    <div class="row">
        <div class="">
            <h5>{{hotelName}}</h5>
            <span>{{hotelAddress}}</span>
            <span>Price: {{priceRange}}</span>
            {{#each image}}
            <section class="hotelImages">
            <img src="{{this}}" alt="">
            </section>
        
        {{/each}}
        </div>
        
    </div>
    
</div>
    
{{/each}}


{{ else}}
<p>You have not selected any hotels to compare.</p>
{{/if}}